@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*{
  margin:0;
  box-sizing: border-box;
  font-family: Inter,sans-serif;
}
/* body{
  background-image: url(
    "https://media.istockphoto.com/id/1306977961/vector/js-coding-website-background.jpg?s=1024x1024&w=is&k=20&c=vNaYB1e54xD6uFse-vPxaXGB5zv-utAD67IZG8nnBc4="
        );
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 100;
  
} */
nav{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #F55A5A;
  gap:.5rem;
  height:55px;
  padding:25px;
  
}
.nav-logo{
  width: 24px;
}
.nav-title{
  color:white;
  font-weight:normal;
  font-size: 14.46px;
  
}
/* //////////////////////////////////////////////////// */

.card{
  display: flex;
  
  margin:66px 67px;
  gap:2rem;
  
  height: 168px;  
}


.mountain{
  /* height: 100%; */
  overflow: hidden;
  border-radius: 1rem;
}


.text-container{
  display: flex;
  flex-direction: column;
  padding:19px 0px;
}
.location{
  display: flex;
  gap:.5rem;
  align-items: center;
  

  
}
.location-name{
font-size: 10.24px; 
color: #2B283A;
letter-spacing: 1px;
font-weight: normal; 
text-transform: uppercase;
}

.location-text{
  font-weight: normal;
  color: #918E9B;
  font-size: 10.24px;
  
  text-decoration: underline;

}
.place{
  margin-top:.6rem;
  font-size: 25px;
  height: 40px;
  margin-bottom: 7px;
}
.date{
  color:#2B283A;
  font-size: 10.24px;
  margin-bottom: 8px;
}
.place-text{
font-size: 10.24px;
width: 326px;
line-height: 1.6;
}
